[submodule "housify-web-server"]
	path = housify-web-server
	url = git@github.com:geniadynamics/housify-web-server.git
[submodule "housify-ai-server"]
	path = housify-ai-server
	url = git@github.com:geniadynamics/housify-ai-server.git
[submodule "housify-mobile"]
	path = housify-mobile
	url = git@github.com:geniadynamics/housify-mobile.git
[submodule "housify-project"]
	path = housify-project
	url = git@github.com:geniadynamics/housify-project.git
[submodule "housify-soap-service"]
	path = housify-soap-service
	url = git@github.com:geniadynamics/housify-soap-service.git
